<div #card class="card" id="front-card" cdkDrag (cdkDragMoved)="dragAndRotate($event)" (cdkDragEnded)="endedDrag($event)" [ngStyle]="{'background-image': 'url(' + posterPath + ')', 'object-fit':'scale-down'}">
    <a [routerLink]="['/groups/']"><span class="material-icons" id="close-icon">highlight_off</span></a>
    <app-like #liketag></app-like>
    <app-dislike #disliketag></app-dislike>

</div>
<!--
[style.background-image]="'url(' + posterPath + ')'"

(cdkDragReleased)="releasedDrag($event)"
-->