@import '../../../styles.scss';

#front-card {
    z-index: 1;
    overflow: hidden;
}

#poster {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#close-icon {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 0.2rem;
    font-size: 3rem;
    color: lightgray;
}

@media only screen and (orientation: landscape)
{ 
    #front-card {
        height: 55vh;
        width: 33vh;
        border-radius: 12px;
        background: white;
        box-shadow: gray 0px 3px 8px;

        margin: 0 auto;
        position: absolute;
        left: 25%;
        bottom: 0;
        right: 0;
                
        top: calc( 4.5rem + 12vh );
    }
}

@media only screen and (orientation: portrait)
{ 
    #front-card {
        height: 145vw;
        width: 98vw;
        max-height: 83vh;
        max-width: 55vh;
        border-radius: 12px;
        background: white;
        box-shadow: gray 0px 3px 8px;
        margin: 0 auto;
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
                
        top: 4.5rem;
        // transform: translate(-50.1%, -51%);
        display: flex;
        flex-shrink: 1 
    }

    /*#front-card {
        border-radius: 12px;
        background: white;
        box-shadow: gray 0px 3px 8px;
        position: absolute;
        left: 3%;
        top: 4.5rem; 

        width: 94%;
 ;
    }

    #front-card:after {
        padding-top: 170%;
        display: block;
        content: '';
        

    }*/

}

