<a class="link-container" [routerLink]="['./group/' + group.id]" routerLinkActive="active">
    <div class="group-entry">
        <img class="group-pic" [src]="group.pic" alt="">
        <div class="badge" *ngIf="group.matches.length > 0">
            {{group.matches.length}}
        </div>
        <div class="name">
            {{group.name}}
        </div>
        <div class="members">
            <!--<div *ngFor="let Member of members; let i=index;">
                <img title="Baby Yoda" class="avatar member-overlap-item" src="https://raw.githubusercontent.com/solodev/layering-profile-images/master/images/baby-yoda.jpg">
            </div>
            
            <div class="members-pics" *ngFor="let Member of members; let i=index;">
                {{Member.name}}
            </div>-->
            <img title="R2D2" class="avatar member-overlap-item" src="https://raw.githubusercontent.com/solodev/layering-profile-images/master/images/r2d2.jpg">
            <img title="Jabba the Hut" class="avatar member-overlap-item"  src="https://raw.githubusercontent.com/solodev/layering-profile-images/master/images/jabba-the-hut.png">
            <img title="Chewbacca" class="-avatar member-overlap-item"  src="https://raw.githubusercontent.com/solodev/layering-profile-images/master/images/chewy.png">
            <img title="C-3PO" class="-avatar member-overlap-item"  src="https://raw.githubusercontent.com/solodev/layering-profile-images/master/images/c-3po.jpg">
        
        </div>
        <!-- <a id="settings-link" [routerLink]="['./group/' + group.id + '/settings']"><span class="material-icons" id="settings-icon">settings</span></a>-->
        <!-- [ngClass]="{'active': selectedGroupId === group.id} (click)="selectedGroupId = group.id" "-->
        <span class="material-icons" id="favorite-icon" *ngIf="currentUser.favoriteGroup == group.id">favorite</span>
    </div>
</a>

