@import '../../../../styles.scss';

.link-container {
	display: block;
	padding-left: 1rem;
	padding-top: 1rem;
	//background-color: rgb(247, 247, 247);
	/*:hover {
		box-shadow: lightgray 0px 0px 10px;
	}*/
	overflow: hidden;
}

.link-container:hover {
	
	box-shadow: inset rgb(160, 160, 160) 0px 0px 5px;
	// border-right: $primary solid 0.6rem;
}

.active {
	box-shadow: gray 0px 0px 10px;
	border-right: $amber800 solid 0.3rem;
	background-color: white;
}

a {
	text-decoration: none;
}

.group-entry {
	position: relative;
	padding-bottom: 2rem;
	padding-left: 5rem;
	height: 4.5rem;

		

	//flex-direction: column;
	//justify-content: center;
}

#favorite-icon-big {
	color: $redA400;
	font-size: 6.5rem;
	opacity: 0.2;
	overflow: hidden;
	position: relative;
    left: 7.5rem;
	bottom: 4.8rem;
    //padding: 1rem;
}
#favorite-icon {
	color: $redA400;
	font-size: 1.7rem;
	overflow: hidden;
	position: relative;
    right: 2rem;
	bottom: 1rem;
	text-shadow: gray 0px 0px 3px;
    //padding: 1rem;
}

.group-pic {
	height: 4rem;
	width: 4rem;
	border-radius: 50%;
	position: absolute;
	left: 0;
}

.name {
	font-weight: 500;
	margin-bottom: 0.125rem;
	font-weight: bold;
	color: gray;
}

.message, .seen {
	font-size: 0.9rem;
	color: gray
}

.badge {
	box-sizing: border-box;
	position: absolute;
	width: 1.5rem;
	height: 1.5rem;
	text-align: center;
	font-size: 0.9rem;
	padding-top: 0.125rem;
	border-radius: 1rem;

	top: 0em;
	left: 2.5rem;
	background: $primary;
	color: white;
}

#settings-icon {
	color: gray;

}

.members {
    display: flex;
}

  .avatar,
  .member-overlap-item {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    margin-right: -10px;
    border: 2px solid #fff;
  }