@import '../../../styles.scss';


#dislike-area, #like-area {
    //background-color: chocolate;
    
    height: 80%;
    width: 26%;
    //display: flex;
    position: absolute;
}

#like-area {
    z-index: 0;
    top: 4rem;
    right: 0px;
    opacity: 0.5;
    border: green dashed 0.5rem;
}

#dislike-area {
    opacity: 0.5;
    border: red dashed 0.5rem;
}

a {text-decoration: none;}

#settings-link {
    color: gray;
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 1rem;
    display: flex;
}

#settings-icon {
    font-size: 2rem;
}

#settings-text {
    padding-top: 0.4rem;
}

#spinner {
    margin: 23vh auto;
}

@media only screen and (orientation: landscape)

{
    #temporary-card {
        height: 55vh;
        width: 33vh;
        border-radius: 12px;
        background: white;
        box-shadow: gray 0px 3px 8px;

        margin: 0 auto;
        position: absolute;
        left: 25%;
        bottom: 0;
        right: 0;
                
        top: 12vh;
    }
}

@media only screen and (orientation: portrait)
{ 
    #temporary-card {
        height: 145vw;
        width: 98vw;
        max-height: 83vh;
        max-width: 55vh;
        border-radius: 12px;
        background: white;
        box-shadow: gray 0px 3px 8px;
        margin: 0 auto;
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
                
        top: 4.5rem;
        // transform: translate(-50.1%, -51%);
        display: flex;
        flex-shrink: 1 
    }


    #like-link {
        position: fixed;
        bottom: 0px;
        left: 0px;
    }

    #settings-link {
        color: gray;
        position: absolute;
        bottom: -2000px;
        right: -2000px;
        padding: 0.2rem;
        display: flex;
    }

    a {text-decoration: none;}

    #settings-icon {
        font-size: 1.5rem;
    }

    #settings-text {
        padding-top: 0.2rem;
    }

    #dislike-area {
        z-index: 0;
        top: 4rem;
        left: 0px;
    }

}