#settings-link {
    color: gray;
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 1rem;
    display: flex;
}

a {text-decoration: none;}

#settings-icon {
    font-size: 2rem;
}

#settings-text {
    padding-top: 0.4rem;
}