<!--<div id="dislike-area" >

</div>-->

<div *ngIf="cards.length > 0; else elseBlock">
    <app-card *ngFor="let movie of cards.reverse(); let i = index" [movie]="movie"></app-card>
</div>
<ng-template #elseBlock>
    <div id="temporary-card" (click)="loadCards(1);">
        <mat-spinner id="spinner" color="accent"></mat-spinner>
    </div>
</ng-template>





<!--
<div id="like-area" >

</div>
-->


<a id="settings-link" routerLink='./settings'>
    <p id="settings-text">Group settings</p>
    <span class="material-icons" id="settings-icon">settings</span>
</a>

<!-- [ngClass]="[movie['id'] == 1 ? 'front' : '']"-->