<div class="grid-container">
  <div class="header">
    <a href="#" class="logo">MatchFlix</a>
    <nav>
      <ul>
        <li><a href="#" routerLink="/">Upgrade to PRO</a></li>
        <li><a href="#" routerLink="/list">About</a></li>
      </ul>    
    </nav>
    <a id="profile" href="#" routerLink="/list"><img id="user-pic" src="https://lh3.googleusercontent.com/pw/AM-JKLWHG-HZggNSx-jKM47mDaLdhO7Le9lR56Vrno-JtVLSTu3YlsRFsT7P2r4UzMy4gMd0NfftMF76_wX2WUEiA5_77DjJA_jWWNemjJyY6dv5mmVZwzuDp6Kslk1duZvGq7O17GbWojhYDZvYObNYAq13jA=w433-h938-no?authuser=0"></a>
  </div>

  <div class="sidelist">
    <app-groups-list></app-groups-list>
  </div>

  <div class="deck-area">
    <router-outlet></router-outlet>
  </div>
</div>