@import '../../../../../styles.scss';

#tag-border {
    position: absolute;
    bottom: 5rem;
    width: 70%;
    left: 15%;
    outline: $purpleA200 solid 0.6rem;
    outline-offset: 1rem;
    border-radius: 0.05rem;
    align-content: center;
    display: flexbox;
    vertical-align: middle;
    //transform: rotate(-20deg) scale(85%);
    //transform: ;
    justify-content: space-around;
    text-align: center;
}

#tag-text, #megaphone-icon {
    display: inline-flex;
    //padding: 2rem 1rem;
    padding-top: 0.7rem;
    text-align: center;
    color: $purpleA200;
    font-size: 2.5rem;
    font-weight: bold;
    
}

#megaphone-icon {
    //font-size: 3.5rem;
    padding-right: 2rem;
}