@import '../../../../../styles.scss';

#tag-border {
    position: absolute;
    bottom: 5rem;
    width: 70%;
    left: 15%;
    outline: $purpleA200 solid 0.6rem;
    outline-offset: 0.5rem;
    border-radius: 0.05rem;
    align-content: center;
    display: table-cell;
    vertical-align: middle;
    //transform: rotate(-20deg) scale(85%);
    //transform: ;
}

#tag-text {
    //padding: 2rem 1rem;
    padding-top: 0.7rem;
    
    text-align: center;
    color: $purpleA200;
    font-size: 3rem;
    font-weight: bold;
    
}