@import '../../../../styles.scss';


@media only screen and (orientation: portrait) {
    .container {
        z-index: 15;
        width: 98vw;
        margin: 0 auto;
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        top: 4.5rem;
        //overflow-y: scroll;;
    }
    
}

.container {
    text-align: center;
    width: 80%;
    margin: auto;
    padding-top: 4%;
}

h3 {
    font-size: 1.2rem;
    
}

* {
    font-size: 1.5rem;
    color: gray;   
}

#close-icon {
    position: fixed;
    right: 0px;
    top: 4rem;
    padding: 0.5rem;
    font-size: 2rem;
}

#heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#heading>* {
    padding-left: 1rem;
}

#matchlist-button, #favorite-button {
    display: flex;
}
#matchlist-button>p, #favorite-button>p {
    font-size: 0.8rem;
    position: relative;
    top: 0.4rem;
}

#matchlist-icon, #favorite-icon {
    font-size: 2rem;
}
#favorite-icon {
    color: $redA400;
}

.approval {

}

#slider {
    display: inline-flex;

    p {
        padding: 1rem;
    }

    #at-least {
        font-size: 1rem;
        padding-right: 0px;
    }

    #max {
        font-size: 1rem;
        padding-left: 0px;
    }
}

.movies-shows {

}

.movies-shows, .approval, .genres, .members-list {
    margin-bottom: 3rem;
    padding: 2.5rem;
    //border: gray solid 1px;
    background-color: lightgray;
    border-radius: 0.6rem;
    box-shadow: rgb(94, 94, 94) 2px 2px 8px;
}

.genres p {
    position: relative;
    bottom: 2rem;
}

.chips {
    width: 70%;
    margin: auto;
}
