/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

$primary: #ba55d3;
$verylightgray: rgb(245,245,245);

$col-3: 25%;

* {
    box-sizing: border-box;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 0px;
  }
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  html {
    height: 100%
  }
  
  body {
    margin: 0;
    height: 100%;
    font-family: 'Nunito', 'sans-serif';
    font-size: 18px;
    background: $verylightgray;
  }

  h1 {
      margin: 0px;
      font-size: 2rem;
  }
  
  header {
    background: white; /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #6a82fb,  #fc5c7d); /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #6a82fb,  #fc5c7d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    box-shadow: 0px 5px 5px rgb(220,220,220);
    color: white;
    padding: 1rem 1em
     1em 2rem; // altezza header

    .logo {
        float: left;
    }

    #profile {
        float: right;
    }

    a {
        color: $primary;
        text-decoration: none;
    }

    nav {
        display: inline-block;
        justify-content: center;

        ul {
            list-style-type: none;
            margin: 0;
            display: flex;
        }

        li a {
            padding: 1em;

            &:hover {
                background: darken(white, 7%);
            }
        }
        
    }
  }

  .sidelist {
      z-index: -1;
      width: 25%;
      height: 100%;
      background: white;
      position: fixed;
      border-right: 1px solid grayscale($color: #eeeeee);

  }
  
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    padding: 15px; // altezza group entries
    // margin-bottom: 7px;
    background-color: white;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  
  .menu li:hover {
    background-color: darken($color: white, $amount: 7%);
  }
 /*
$primary: rgb(103,58,183);
$secondary: rgb(235,235,235);

body {
    margin: 0;
    font-family: 'Nunito', 'sans-serif';
    font-size: 18px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: $secondary;
    padding: 1em 0;
    
    .logo {
        float: left;
    }

    a {
        color: $primary;
        text-decoration: none;
    }

    nav {
        justify-content: center;

        ul {
            list-style-type: none;
            margin: 0;
            display: flex;
        }

        li a {
            padding: 1em;

            &:hover {
                background: darken($primary, 10%);
            }
        }
        
    }
}
*/

/* 
// For phones: 

.side-bar {
    width: 100%;
    padding: 2em;
    background: rgb(47, 69, 79);
  }
  
  .main-content {
    width: 100%;
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
    background: white;
  }
  
  @media only screen and (min-width: 1050px) {
    // For tablets: 
  
    .side-and-main {
      display: table;
    }
  
    .side-bar, .main-content {
      margin: 0px;
      width: 100%;
      display: table-cell;
      height: auto;
      vertical-align: top;
    }
    
    .side-bar {
      width: 25%;
      padding-top: 2em;
      padding-left: 2em;
      padding-right: 2em;
      background: rgb(47, 69, 79);
      height: 100vh;
      min-height: 100vh;
    }
    
    .main-content {
      width: 75%;
      padding-top: 2em;
      padding-left: 2em;
      padding-right: 2em;
      background: white;
    }
  }
  @media only screen and (min-width: 1500px) {
    // For desktop: 
    .side-and-main {
      display: table;
    }
    .side-bar, .main-content {
      margin: 0px;
      width: 100%;
      height: auto;
      display: table-cell;
  
    }
    
    .side-bar {
      width: 25%;
      padding-top: 2em;
      padding-left: 2em;
      padding-right: 2em;
      background: rgb(47, 69, 79);
      height: 100vh;
      min-height: 100vh;
    }
    
    .main-content {
      width: 75%;
      padding-top: 2em;
      padding-left: 2em;
      padding-right: 2em;
      background: white;
    }
  }*/